<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{windows_state}}</title>
    <link href="/static/bar_style.css" rel="stylesheet">
    <link href="/static/page_style.css" rel="stylesheet">



</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Funtago</a>
            <ul class="navbar-menu" >
                <li><a href="">Air Sensors</a></li>
                <li><a href="http://127.0.0.1:5000/soil/">Soil Sensors</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="http://127.0.0.1:5000/settings/">Settings</a></li>
            </ul>
            <button class="fresh" type="button" onClick="refreshPage()">Reset</button>

            <script>
            function refreshPage(){
                window.location.reload();
            }
            </script>
        </div>
    </nav>


    <form action="" method="POST">
        <table align="center">
            <tr><th>Snr</th><th>Температура воздуха</th><th>Влажность воздуха</th><th>Управление</th></tr>
            <tr><th>№1</th><td>{{ do[0] }}</td><td>{{ do[0] }}</td><td>
                <button action="" class="btn" type="submit" name="win" value="{{ windows_state }}">
                    {% if windows_state == '1' %}Закрыть форточки{% else %}Открыть форточки{% endif %}
                </button></td></tr>

            <tr><th>№2</th><td>{{ do[1] }}</td><td>{{ do[1] }}</td><td>
                <button action="" class="btn" type="submit" name="hum" value="{{ humidity_state }}">
                    {% if humidity_state == '1' %}Выключить увлажнение{% else %}Включить увлажнение{% endif %}
                </button></td></tr>

            <tr><th>№3</th><td>{{ do[2] }}</td><td>{{ do[2]}}</td></tr>

            <tr><th>№4</th><td>{{ do[3] }}</td><td>{{ do[3] }}</td></tr>
        </table>
    </form>



    <hr>
    <h1 align="center">Температура воздуха</h1>
    <div>
        <canvas id="firstChart" height="40px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    const ctx1 = document.getElementById('firstChart').getContext("2d");

  new Chart(ctx1, {
    type: 'line',
    data: {
      labels: ['start', '0:30', '1:00', '1:30', '2:00', '2:30'],
      datasets: [{
        label: 'Sensor 1',
        data: {{ do[0] }},
        borderColor: 'green',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 2',
        data: {{ do[1] }},
        borderColor: 'red',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 3',
        data: {{ do[2] }},
        cubicInterpolationMode: 'monotone',
        borderColor: 'blue',
        borderWidth: 3,
      },
      {
        label: 'Sensor 4',
        data: {{ do[3] }},
        borderColor: 'orange',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    </script>

    <h1 align="center">Влажность воздуха</h1>
    <div>
        <canvas id="secondChart" height="40px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    const ctx3 = document.getElementById('secondChart').getContext("2d");

  new Chart(ctx3, {
    type: 'line',
    data: {
      labels: ['start', '0:30', '1:00', '1:30', '2:00', '2:30'],
      datasets: [{
        label: 'Sensor 1',
        data: [12, 19, 3, 5, 2, 21],
        borderColor: 'green',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 2',
        data: [17, 10, 3, 18, 2, 5],
        borderColor: 'red',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 3',
        data: [8, 11, 3, 5, 7, 12],
        cubicInterpolationMode: 'monotone',
        borderColor: 'blue',
        borderWidth: 3,
      },
      {
        label: 'Sensor 4',
        data: [17, 2, 19, 8, 1, 9],
        borderColor: 'orange',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    </script>
</body>
</html>