<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air</title>
    <link href="/static/bar_style.css" rel="stylesheet">
    <link href="/static/page_style.css" rel="stylesheet">



</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="" class="navbar-brand">Теплица</a>
            <ul class="navbar-menu" >
                <li><a href="">Air Sensors</a></li>
                <li><a href="http://127.0.0.1:5000/soil/">Soil Sensors</a></li>
                <li><a href="http://127.0.0.1:5000/statistics/">Statistics</a></li>
                <li><a href="http://127.0.0.1:5000/settings/">Settings</a></li>
            </ul>
            <button class="fresh" type="button" onClick="refreshPage()">Reset</button>
            <form action="" method="POST">
            <button class="extreme" type="submit" name="emergency" value="{{ emergency }}">{% if emergency %}Выключить{% else %}Включить{% endif %} экстренный режим</button>
            <script>
            function refreshPage(){
                window.location.reload();
            }
            </script>
        </div>
    </nav>



        <table align="center">
            <tr><th>Snr</th><th>Температура воздуха</th><th>Влажность воздуха</th><th>Управление</th></tr>

            <tr><th>№{{ th_sns[3].device_id}}</th><td>{{ th_sns[3].temp }}</td><td>{{ th_sns[3].hum }}</td><td>
                <button  action="" method="POST" class="btn" type="submit" name="win"  value="{{windows_state}}" {% if st_air_temp <= t_value.value and windows_state == false and not emergency %}disabled="true"{%endif%}>
                 {% if windows_state %}Закрыть форточки{% else %}Открыть форточки{% endif %}</button></td></tr>

            <tr><th>№{{ th_sns[2].device_id}}</th><td>{{ th_sns[2].temp }}</td><td>{{ th_sns[2].hum }}</td><td>
                <button  action="" method="POST" class="btn" type="submit" name="hum" value="{{humidity_state}}" {% if st_air_hum >= h_value.value and humidity_state == false and not emergency%}disabled{%endif%}>
                {% if humidity_state %}Выключить увлажнение{% else %}Включить увлажнение{% endif %}</button></td></tr>

            <tr><th>№{{ th_sns[1].device_id}}</th><td>{{ th_sns[1].temp }}</td><td>{{ th_sns[1].hum}}</td></tr>

            <tr><th>№{{ th_sns[0].device_id}}</th><td>{{ th_sns[0].temp }}</td><td>{{ th_sns[0].hum }}</td></tr>

            <tr><th>Среднее</th><td>{{ st_air_temp | round(2) }}</td><td>{{ st_air_hum | round(2) }}</td></tr>
        </table>
    </form>



    <hr>
    <h1 align="center">Температура воздуха</h1>
    <div>
        <canvas id="firstChart" height=40px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    const ctx1 = document.getElementById('firstChart').getContext("2d");

  new Chart(ctx1, {
    type: 'line',
    data: {
      labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      datasets: [{
        label: 'Sensor {{ th_sns[3].device_id}}',
        data: {{ temp1 | tojson}},
        borderColor: 'green',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ th_sns[2].device_id}}',
        data: {{ temp2 | tojson}},
        borderColor: 'red',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ th_sns[1].device_id}}',
        data: {{ temp3 | tojson}},
        cubicInterpolationMode: 'monotone',
        borderColor: 'blue',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ th_sns[0].device_id}}',
        data: {{ temp4 | tojson}},
        borderColor: 'orange',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    </script>

    <h1 align="center">Влажность воздуха</h1>
    <div>
        <canvas id="secondChart" height="40px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
    const ctx2 = document.getElementById('secondChart').getContext("2d");

  new Chart(ctx2, {
    type: 'line',
    data: {
      labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      datasets: [{
        label: 'Sensor {{ th_sns[3].device_id}}',
        data: {{ hum1 | tojson}},
        borderColor: 'green',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ th_sns[2].device_id}}',
        data: {{ hum2 | tojson}},
        borderColor: 'red',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ th_sns[1].device_id}}',
        data: {{ hum3 | tojson}},
        cubicInterpolationMode: 'monotone',
        borderColor: 'blue',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ th_sns[0].device_id}}',
        data: {{ hum4 | tojson}},
        borderColor: 'orange',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    </script>
</body>
</html>