<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link href="/static/bar_style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="" class="navbar-brand">Теплица</a>
            <ul class="navbar-menu" >
                <li><a href="http://127.0.0.1:5000/air/">Air Sensors</a></li>
                <li><a href="http://127.0.0.1:5000/soil/">Soil Sensors</a></li>
                <li><a href="http://127.0.0.1:5000/statistics/">Statistics</a></li>
                <li><a href="http://127.0.0.1:5000/settings/">Settings</a></li>

            </ul>
            <button class="fresh" type="button" onClick="refreshPage()">Reset</button>

            <form>
            <button class="extreme" type="submit" name="emergency" value="{{ emergency }}">{% if emergency %}Выключить{% else %}Включить{% endif %} экстренный режим</button>
            </form>
            <script>
            function refreshPage(){
                window.location.reload();
            }
            </script>
        </div>
    </nav>

</body>
</html>