<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
    <link href="/static/bar_style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">CYBER GREEN</a>
            <ul class="navbar-menu" >
                <li><a href="sensors.html">Air Sensors</a></li>
                <li><a href="#">Soil Sensors</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>