<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page1</title>
    <link href="/static/bar_style.css" rel="stylesheet">
    <link href="/static/page_style.css" rel="stylesheet">



</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">CYBER GREEN</a>
            <ul class="navbar-menu" >
                <li><a href="#">Air Sensors</a></li>
                <li><a href="#">Soil Sensors</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </nav>



    <div>
  <canvas id="myChart"  height="30px"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['start', '0:30', '1:00', '1:30', '2:00', '2:30'],
      datasets: [{
        label: 'Sensor 1',
        data: [12, 19, 3, 5, 2, 20],
        borderColor: 'green',
        backdropPadding: 1,
        backgroundColor: 'transparent',
        borderWidth: 2
      },
      {
        label: 'Sensor 2',
        data: [17, 10, 3, 18, 2, 5],
        borderColor: 'red',
        backdropPadding: 1,
        backgroundColor: 'transparent',
        borderWidth: 2
      },
      {
        label: 'Sensor 3',
        data: [8, 11, 3, 5, 7, 12],
        backdropPadding: 1,
        backgroundColor: 'transparent',
        borderColor: 'blue',
        borderWidth: 2
      },
      {
        label: 'Sensor 4',
        data: [17, 2, 19, 8, 1, 9],
        borderColor: 'yellow',
        backdropPadding: 1,
        backgroundColor: 'transparent',
        borderWidth: 2
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>

</body>
</html>