<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soil</title>
    <link href="/static/bar_style.css" rel="stylesheet">
    <link href="/static/page_style.css" rel="stylesheet">



</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Funtago</a>
            <ul class="navbar-menu">
                <li><a href="http://127.0.0.1:5000/air/">Air Sensors</a></li>
                <li><a href="">Soil Sensors</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="http://127.0.0.1:5000/settings/">Settings</a></li>
            </ul>
            <button class="fresh" type="button" onClick="refreshPage()">Reset</button>

            <script>
            function refreshPage(){
                window.location.reload();
            }
            </script>
        </div>
    </nav>

    <table align="center">
        <tr><th>Snr</th><th>Влажность почвы</th><th>Полив</th></tr>
        <tr><th>№1</th><td>{{do[0]}}</td><td><button class="btn">{% if s_humidity_state[0] %}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№2</th><td>{{do[1]}}</td><td><button class="btn">{% if s_humidity_state[1] %}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№3</th><td>{{do[2]}}</td><td><button class="btn">{% if s_humidity_state[2] %}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№4</th><td>{{do[3]}}</td><td><button class="btn">{% if s_humidity_state[3] %}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№5</th><td>{{do[4]}}</td><td><button class="btn">{% if s_humidity_state[4] %}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№6</th><td>{{do[5]}}</td><td><button class="btn">{% if s_humidity_state[5] %}Выключить{% else %}Включить{% endif %}</button></td></tr>
    </table>

    <hr>
    <h1 align="center">Влажность почвы</h1>
    <div>
        <canvas id="thirdChart" height="40px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

const ctx3 = document.getElementById('thirdChart').getContext("2d");

  new Chart(ctx3, {
    type: 'line',
    data: {
      labels: ['start', '0:30', '1:00', '1:30', '2:00', '2:30'],
      datasets: [{
        label: 'Sensor 1',
        data: [12, 19, 3, 5, 2, 21],
        borderColor: 'brown',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 2',
        data: [17, 10, 3, 18, 2, 5],
        borderColor: 'MediumSlateBlue',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 3',
        data: [8, 11, 3, 5, 7, 12],
        cubicInterpolationMode: 'monotone',
        borderColor: 'Aquamarine',
        borderWidth: 3,
      },
      {
        label: 'Sensor 4',
        data: [17, 2, 19, 8, 1, 9],
        borderColor: 'Orchid',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 5',
        data: [17, 2, 19, 8, 1, 9],
        borderColor: 'DeepPink',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor 6',
        data: [17, 2, 19, 8, 1, 9],
        borderColor: 'LightGreen',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    </script>


</body>
</html>