<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soil</title>
    <link href="/static/bar_style.css" rel="stylesheet">
    <link href="/static/page_style.css" rel="stylesheet">



</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Funtago</a>
            <ul class="navbar-menu">
                <li><a href="http://127.0.0.1:5000/air/">Air Sensors</a></li>
                <li><a href="">Soil Sensors</a></li>
                <li><a href="http://127.0.0.1:5000/statistics/">Statistics</a></li>
                <li><a href="http://127.0.0.1:5000/settings/">Settings</a></li>
            </ul>
            <button class="fresh" type="button" onClick="refreshPage()">Reset</button>

            <script>
            function refreshPage(){
                window.location.reload();
            }
            </script>
        </div>
    </nav>
    <h2></h2>
    <form action="" method="POST">
    <table align="center">
        <tr><th>Snr</th><th>Влажность почвы</th><th>Полив</th></tr>
        <tr><th>№{{ hum_sns[5].device_id}}</th><td>{{hum_sns[5].hum}}</td><td><button class="btn" type="submit"
                name="water1" value="{{water_bed1}}" {% if  (hum1  | sum) / 10 >= hb_value.value and water_state[5] == false%}disabled{%endif%}> {% if water_states[0]%}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№{{ hum_sns[4].device_id}}</th><td>{{hum_sns[4].hum}}</td><td><button class="btn" type="submit"
                name="water2" value="{{water_bed2}}" {% if  (hum2  | sum) / 10 >= hb_value.value and water_state[4] == false%}disabled{%endif%}>{% if water_states[1]%}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№{{ hum_sns[3].device_id}}</th><td>{{hum_sns[3].hum}}</td><td><button class="btn" type="submit"
                name="water3" value="{{water_bed3}}" {% if  (hum3  | sum) / 10 >= hb_value.value and water_state[3]== false%}disabled{%endif%}>{% if water_states[2]%}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№{{ hum_sns[2].device_id}}</th><td>{{hum_sns[2].hum}}</td><td><button class="btn" type="submit"
                name="water4" value="{{water_bed4}}" {% if  (hum4  | sum) / 10 >= hb_value.value and water_state[2] == false%}disabled{%endif%}>{% if water_states[3]%}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№{{ hum_sns[1].device_id}}</th><td>{{hum_sns[1].hum}}</td><td><button class="btn" type="submit"
                name="water5" value="{{water_bed5}}" {% if  (hum5  | sum) / 10 >= hb_value.value and water_state[1] == false%}disabled{%endif%}>{% if water_states[4]%}Выключить{% else %}Включить{% endif %}</button></td></tr>
        <tr><th>№{{ hum_sns[0].device_id}}</th><td>{{hum_sns[0].hum}}</td><td><button class="btn" type="submit"
                name="water6" value="{{water_bed6}}" {% if  (hum6  | sum) / 10 >= hb_value.value and water_state[0] == false%}disabled{%endif%}>{% if water_states[5]%}Выключить{% else %}Включить{% endif %}</button></td></tr>
    </table>
    </form>
    <hr>
    <h1 align="center">Влажность почвы</h1>
    <div>
        <canvas id="thirdChart" height="80px"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>

const ctx3 = document.getElementById('thirdChart').getContext("2d");

  new Chart(ctx3, {
    type: 'line',
    data: {
      labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      datasets: [{
        label: 'Sensor {{ hum_sns[5].device_id}}',
        data: {{ hum1 | tojson}},
        borderColor: 'brown',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ hum_sns[4].device_id}}',
        data: {{ hum2 | tojson}},
        borderColor: 'MediumSlateBlue',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ hum_sns[3].device_id}}',
        data: {{ hum3 | tojson}},
        cubicInterpolationMode: 'monotone',
        borderColor: 'Aquamarine',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ hum_sns[2].device_id}}',
        data: {{ hum4 | tojson}},
        borderColor: 'Orchid',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ hum_sns[1].device_id}}',
        data: {{ hum5 | tojson}},
        borderColor: 'DeepPink',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      },
      {
        label: 'Sensor {{ hum_sns[0].device_id}}',
        data: {{ hum6 | tojson}},
        borderColor: 'LightGreen',
        cubicInterpolationMode: 'monotone',
        borderWidth: 3,
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    </script>


</body>
</html>