<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sensor</title>
    <link href="/static/bar_style.css" rel="stylesheet">
    <link href="/static/page_style.css" rel="stylesheet">



</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="#" class="navbar-brand">Funtago</a>
            <ul class="navbar-menu" >
                <li><a href="#">Air Sensors</a></li>
                <li><a href="#">Soil Sensors</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </nav>

    <table>
        <tr><th>Snr</th><th>Температура воздуха</th><th>Влажность воздуха</th></tr>
        <tr><th>№1</th><td>данные</td><td>данные</td></tr>
        <tr><th>№2</th><td>данные</td><td>данные</td></tr>
        <tr><th>№3</th><td>данные</td><td>данные</td></tr>
        <tr><th>№4</th><td>данные</td><td>данные</td></tr>
    </table>

    <hr>
    <div>
        <canvas id="myChart"  height="40px"  align="center"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js" margin-top="1000px"></script>

    <script src="/scripts/script.js">

    </script>
</body>
</html>