<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link href="/static/bar_style.css" rel="stylesheet">
    <link href="/static/page_style.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
    <div class="container">
        <a href="#" class="navbar-brand">Funtago</a>
        <ul class="navbar-menu">
            <li><a href="http://127.0.0.1:5000/air/">Air Sensors</a></li>
            <li><a href="http://127.0.0.1:5000/soil/">Soil Sensors</a></li>
            <li><a href="#">Statistics</a></li>
            <li><a href="">Settings</a></li>
        </ul>
        <button class="fresh" type="button" onClick="refreshPage()">Reset</button>

        <script>
        function refreshPage(){
            window.location.reload();
        }
        </script>
    </div>
    </nav>


    <form>
        <ul>
            <li>T:</li><input value={{ t_value }}></li>
            <li>H:<input value={{ h_value }}></li>
            <li>Hb:<input value={{ hb_value }}></li>
        </ul>
        <button type="submit" class="btn">Отправить</button>
    </form>

</body>
</html>